# Dependencies
node_modules/
/.pnp
.pnp.js

# Production build
/build

# Environment variables
.env
.env.local
.env.*.local

# Testing
/coverage

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-error.log*
